.nav-bar-wrapper {
  display: flex;
  flex-direction: column;

  & .login-button {
    order: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    padding: 16px 24px;
    cursor: pointer;
  }
  & .logo {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .menu-area {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    & .menu-list {
      display: flex;

      & li {
        padding: 16px;
        text-transform: uppercase;
      }
    }

    & .search-wrap {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 4px;
      border-bottom: 0.5px solid #000;
      position: relative;

      & input {
        width: calc(100% - 48px);
        padding: 8px;
      }

      & .fa-xmark {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.container {
  padding: 40px 0;
}
.row {
  > *:hover img {
    transform: scale(1.1);
  }
}
.image-wrapper {
  overflow: hidden;

  & img {
    transition: all 0.25s ease-out;
  }
}
