:root {
  --transition-common: all 0.25s ease-out;
}

.nav-bar-wrapper {
  display: flex;
  align-items: center;
  font-size: 0.75rem;

  & .menu-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .menu-list {
      display: flex;
      margin-bottom: 0;
      padding-left: 0;

      & li {
        padding: 16px;
        text-transform: uppercase;
        cursor: pointer;
        color: gray;
        font-weight: 100;

        &:hover {
          color: #000;
        }
      }
    }

    & .icons-wrap {
      display: flex;
      align-items: center;
      margin-right: 24px;

      & .search-wrap {
        width: max-content;
        height: fit-content;
        display: flex;
        align-items: center;
        gap: 4px;
        position: relative;
        border-bottom: 0.5px solid #000;

        & input {
          width: calc(100% - 48px);
          padding: 8px;
          font-weight: 300;
        }

        & .fa-xmark {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      & .login-button {
        width: max-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 4px;
        padding: 8px 12px;
        margin: 8px 12px 8px auto;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        transition: var(--transition-common);

        &:hover {
          color: gray;
        }
      }
    }
  }
}

.row {
  > *:hover img {
    transform: scale(1.1);
  }
}
.image-wrapper {
  overflow: hidden;

  & img {
    transition: var(--transition-common);
  }
}

.custom-btn {
  padding: 12px;
}
.btn-kakao {
  background: #fee500;
  color: #191919;

  & .svg-inline--fa {
    margin-right: 8px;
  }
}
.btn-dark {
  background: #191919;
  color: #fff;
}

.title {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 2.25rem;
}
.hr {
  text-align: center;
  margin: 1rem 0 !important;
  font-size: 0.65rem;

  &.m-sm {
    margin: 0.5rem 0 !important;
  }
}
.login-desc {
  font-size: 0.85rem;
  font-weight: 700;
}
.after-valid {
  position: relative;
  &::after {
    content: "*";
    display: block;
    position: absolute;
    right: -24%;
    top: -12%;
    color: #b7000d;
  }
}

.dropdown-wide {
  border-bottom: 0.5px solid gray;
}

#dropdown-common {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  padding: 10px;

  &.show,
  &:active,
  &:focus {
    border: 0 !important;
  }

  &::after {
    display: none !important;
  }

  & + .dropdown-menu.show {
    width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 0.5px solid gray;

    & a.dropdown-item {
      font-size: 0.75rem !important;
    }
  }
}
