:root {
  --transition-common: all 0.25s ease-out;
}

.nav-bar-wrapper {
  display: flex;
  flex-direction: column;

  & .login-button {
    width: max-content;
    order: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    margin: 8px 12px 8px auto;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: var(--transition-common);

    &:hover {
      color: gray;
    }
  }
  & .logo {
    width: max-content;
    margin: 0 auto;
    order: 1;
  }
  & .menu-area {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    & .menu-list {
      display: flex;
      margin-bottom: 0;
      padding-left: 0;

      & li {
        padding: 16px;
        text-transform: uppercase;
      }
    }

    & .search-wrap {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 4px;
      border-bottom: 0.5px solid #000;
      position: relative;

      & input {
        width: calc(100% - 48px);
        padding: 8px;
      }

      & .fa-xmark {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.row {
  > *:hover img {
    transform: scale(1.1);
  }
}
.image-wrapper {
  overflow: hidden;

  & img {
    transition: var(--transition-common);
  }
}

.custom-btn {
  padding: 12px;
}
.btn-kakao {
  background: #fee500;
  color: #191919;
}
.btn-dark {
  background: #191919;
  color: #fff;
}

.title {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 2.25rem;
}
.hr {
  text-align: center;
  margin: 1rem 0 !important;
  font-size: 0.65rem;

  &.m-sm {
    margin: 0.5rem 0 !important;
  }
}
.login-desc {
  font-size: 0.85rem;
  font-weight: 700;
}
.after-valid {
  position: relative;
  &::after {
    content: "*";
    display: block;
    position: absolute;
    right: -24%;
    top: -12%;
    color: #b7000d;
  }
}
