* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

input,
button {
  border: 0;
  background: none;

  &:focus {
    outline: none;
  }
}

.a11y-hidden {
  position: absolute;
  left: -9999px;
}

a {
  text-decoration: none;
  color: inherit;
}

.ta-c {
  text-align: center;
}
.bdrs-0 {
  border-radius: 0 !important;
}

.login-wrapper {
  max-width: 320px !important;
  padding: 40px 0;
}
.badge {
  font-size: 0.65rem !important;
}

.container {
  padding-bottom: 100px;
}
